:root {
    --main-color: rgb(255 255 255 / 80%);
}
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}
p {
    color: var(--main-color);
    font-size: 30px;
    width: 28ch;
    margin: 30px auto;
    border-right: 2px solid var(--main-color);
    overflow: hidden;
    white-space: nowrap;
    animation: control-width 3s steps(28) 2s both, blink 0.5s infinite;
}
@keyframes control-width {
    from {
        width: 0;
    }
    to {
        width: 28ch;
    }
}
@keyframes blink {
    from {
        border-right-color: var(--main-color);
    }
    to {
        border-right-color: transparent;
    }
}